
body {}

/*
 * carList
 */

.CarList {
    display: flex;
    flex-flow: row wrap;
    padding: .25rem;
}

/*
 * generic tile
 */

.tile {
    border: 1px solid silver;
/*     padding: .5rem; */
    margin: .25rem;
    border-radius:.5rem;
}

/*
 * carFiltersTile
 */

.CarFilter {
    flex: 2 1 21.66rem;
}

.CarFilter .widgetContainer {}

/*
 * carTile
 */

.CarTile {
    flex: 1 1 10rem;
}

.CarTile .widgetContainer {
    position: relative;
    width: 100%;
    /* border: 1px solid green; */
    z-index: 1;
}

.CarTile .widgetContainer .widget {
    position: absolute;
    margin: .25rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius:.25rem;
    border: 1px solid silver;
    outline: 0;
}

.CarTile .widgetContainer input.widget.select {
    -webkit-appearance: none;
}

.CarTile .widgetContainer input.widget.select:checked {
    background: green;
}

.CarTile .widgetContainer button.widget.delete {
    right: 0;
}

.CarTile .imageContainer {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* for a 3:4 ratio*/
    float: left;
    height: 0;

}

.CarTile .imageContainer img {
    /* sits within the boundaries of ".carTile .imgContainer" above */
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    border-top-left-radius:.5rem;
    border-top-right-radius:.5rem;
}

.CarTile .metadataContainer {

    position: relative;
    padding: .5rem;
}