/*
 * Global and Integration Styles Only
 * Component styles go in component
 */

body {
    padding: .5rem;
}

.CarFilter {
    margin-bottom: .5rem;
}

.CarList {
    margin-bottom: .5rem;
}

.CarForm {}