body {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*
 * carTile
 */

.carTile {
    border: 1px solid silver;
}

.carTile input[type="checkbox"] {
    position: absolute;
    z-index: 1;

    -webkit-appearance:none;
    width:2.5rem;
    height:2.5rem;
    border-radius:.5rem;
    border:1px solid silver;
    outline: 0;
}

.carTile input[type='checkbox']:checked {
    background: green;
}

.carTile .img_container {
    height: 150px;
}

.carTile .img_container img {
    /* sits within the boundaries of ".carTile .img_container" above */
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

