<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">

    <title>Cars</title>

    <link rel="stylesheet" href="/view/node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="/view/css/base.css">

</head>
<body>

{# {% include 'partials/header.html' %} #}

{% block body %}

    <h3>Home: Index</h3>
    <p>This is the index.  This text should have been overridden in templates.</p>

{% endblock %}

<div id="reactMountPoint"></div>

<script src="/view/bundle.js"></script>

</body>
</html>